@import './variable';
@import './common/media';
@import './common/margin';
.header{
    padding: 45px 0 40px;
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        max-width: 195px;
        img{
            width: 100%;
        }
    }
    &__authorization{
        display: flex;
        align-items: center;
        &-btn{
            margin: 0 10.5px;
            font-size: 12px;
            display: inline-block;
            text-decoration: none;
            @include h-margin;
            &.registration{
                background: linear-gradient(187.24deg, #F8CD8C 0%, #F03A5B 45.31%, #993E76 100%, #F39ED3 100%);
                color: #993E76;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: relative;
                &::after{
                    content: '';
                    width: 1px;
                    height: 17px;
                    position: absolute;
                    right: 0;
                    margin-right: -10px;
                    top: 50%;
                    transform: translate(100%, -50%);
                    background: linear-gradient(187.24deg, #F8CD8C 0%, #F03A5B 45.31%, #993E76 100%, #F39ED3 100%);
                    border-radius: 3px;
                    pointer-events: none;
                }
            }
            &.sign-in{
                color: $text;
            }
        }
    }
}

// <480
@include media-mobile {
    .header__logo{
        max-width: 154.42px;
    }
}