@import "./media";
@import "./fonts.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:active,&:focus{
        outline: none;
    }
}
body{
    background: #F4F4F4;
    font-family: Rubik;  
}
.wrap{
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
}

h3{
    font-family: Roboto;  
}
// <992
@include media-tablet-horizontal {
    .wrap{
        max-width: 790px;
    }
}